    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        margin: 0;
        padding: 0;
        
      }
      table {
        font-size: 12px;


      }
      #map {
        width: 1195px;
        height: 690px;

      }
      #listing {
       
        
        position: absolute;
        width: 200px;
        height: 550px;
        overflow: auto;
        left: 1026px;
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;

      }
      #findhotels {
        position: absolute;
        text-align: right;
        width: 106px;
        font-size: 14px;
        padding:4px;
        z-index: 15;
        background-color: #fff;
      }
      #locationField {
        position: absolute;
        width: 190px;
        height: 30px;
        left: 108px;
        top: 0px;
        z-index: 5;
        background-color: #fff;

      }
      #controls {
        position: absolute;
        left: 298px;
        width: 140px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
      }
      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
        text-align: left;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
   
    </style>